aiortc==1.2.1
numpy==1.21.1
streamlit==0.84.2
streamlit_webrtc==0.26.0
av==8.0.3
regex==2021.7.6
opencv-python-headless==4.5.3.56
typing_extensions==3.10.0.0
pytesseract==0.3.8
spacy==2.3.5
pillow==7.1.2
